<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hi Bestie - Chatbot kekerasan seksual</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Chatbot kekerasan seksual" name="keywords">
        <meta content="Chatbot kekerasan seksual" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600;1,700;1,800&family=Roboto:wght@400;500&display=swap" rel="stylesheet"> 
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="static/lib/animate/animate.min.css" rel="stylesheet">
        <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="static/css/style.css" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            <!-- Top Bar Start -->
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="logo">
                                <a href="index.html">
                                    <h1>HiBestie</h1>
                                    <!-- <img src="img/logo.jpg" alt="Logo"> -->
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="top-bar-right">
                                <div class="text">
                                    <h2>11:00 - 14:00 WIB</h2>
                                    <p>Consultation Only On Monday - Friday</p>
                                </div>
                                <div class="text">
                                    <h2>For Get Free Consultation</h2>
                                    <p>Chat Us on Social Media</p>
                                </div>
                                <div class="social">
                                    <a href="https://wa.me/qr/GEJXQ5FK7RPYP1" target="_blank"><i class="fab fa-whatsapp"></i></a>
                                    <a href="https://instagram.com/hibestie_official?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fab fa-telegram"></i></a>
                                    <a href="https://www.facebook.com/profile.php?id=100087927235425" target="_blank"><i class="fab fa-facebook"></i></a>
                                    <a href="https://instagram.com/hibestie_official?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fab fa-instagram"></i></a>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->

                       <!-- Nav Bar Start -->
                       <div class="nav-bar">
                        <div class="container-fluid">
                            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                                <a href="#" class="navbar-brand">MENU</a>
                                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                    <div class="navbar-nav mr-auto">
                                        <a href="index.html" class="nav-item nav-link">Home</a>                                
                                        <a href="information.html" class="nav-item nav-link active">Information</a>
                                        <a href="hotissue.html" class="nav-item nav-link">Hot Issues</a>                                
                                        <div class="nav-item dropdown">
                                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Media</a>
                                            <div class="dropdown-menu">
                                                <a href="gambar.html" class="dropdown-item">Pictures</a>
                                                <a href="vid.html" class="dropdown-item">Videos</a>
                                            </div>
                                        </div>
                                        <div class="nav-item dropdown">
                                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Critics</a>
                                            <div class="dropdown-menu">
                                                <a href="https://ngl.link/hibestie_official" target="_blank" class="dropdown-item">Questions (Ngl)</a>
                                                <a href="https://forms.gle/3v25PryxhW6VrUVn6" target="_blank" class="dropdown-item">Help Our Chatbot (Form)</a>
                                            </div>
                                        </div>                             
                                        <a href="aboutus.html" class="nav-item nav-link">About Our Team</a>
                                    </div>
                                    <div class="ml-auto">
                                        <a class="btn" href="https://drive.google.com/file/d/1F5gZS0C642rOnTvOFutwLA-p3szCqpgG/view?usp=share_link" target="_blank">Report My Case</a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <!-- Nav Bar End -->
            
            
            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Information</h2>
                        </div>
                        <div class="col-12">
                            <a href="">Home</a>
                            <a href="">Information</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- About Start -->
            <div class="about">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-md-6">
                            <div class="about-img">
                                <img src="img/infografis-melapor.jpg" alt="Image">
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="section-header">
                                <h2 class="animated">Tau Gak Sih, Bestie</h2>                                
                            </div>
                            <div class="about-text">
                                <p>
                                    Menurut temuan West Coast LEAF Vancouver, banyak korban kekerasan seksual yang juga enggan melapor karena khawatir atas minimnya perlindungan identitas bagi korban, sehingga mereka takut akan tersebarnya informasi tentang perkaranya yang mungkin berdampak pada kesehatan mental dan kondisi finansial mereka.
                                </p>
                                <p>
                            <div class="about-text bawah">
                                    ***Survei ini menggunakan perangkat telepon dan melibatkan partisipasi 2.210 responden yang mencakup wilayah ibukota, kotamadya dan kabupaten. Dengan demikian, didapatkan penyebaran responden yang representatif di setiap provinsi. Responden survei dipilih secara multistage cluster sampling di mana unit sampling adalah cluster sample dari riset-riset sebelumnya. Dari seluruh cluster survei sebelumnya, didapatkan data populasi yang akhirnya diambil sample sejumlah 2.210 responden (margin of error 2 persen dari data populasi).
                                </p>
                                <a class="btn" href="http://ijrs.or.id/mengapa-korban-kekerasan-seksual-enggan-melapor/" target="_blank">Baca Selengkapnya...</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->


            <!-- Timeline Start -->
            <div class="timeline">
                <div class="container">
                    <div class="section-header">
                        <h2>Yuk, Ikuti Lebih Lanjut</h2>
                    </div>
                    <div class="timeline-start">
                        <div class="timeline-container left">
                            <div class="timeline-content">
                                <h2><span>01</span>Definisi Pelecehan Seksual</h2>
                                <p>
                                    Pelecehan seksual mencakup perilaku seperti rayuan seksual yang tidak diinginkan, meminta penukaran sesuatu dengan aktivitas seksual, serta perilaku seksual lainnya yang tidak diinginkan.
                                </p>
                            </div>
                        </div>
                        <div class="timeline-container right">
                            <div class="timeline-content">
                                <h2><span>02</span>Definisi Kekerasan Seksual</h2>
                                <p>
                                    Kekerasan seksual adalah perlakuan seksual secara fisik tanpa persetujuan dari orang lain atau ketika orang lain sedang dalam keadaan tidak dapat memberikan persetujuan.
                                <br/>
                                <br/>
                                    Kekerasan seksual mencakup penyerangan secara seksual, pemerkosaan, kekerasan dalam rumah tangga, kekerasan dalam pacaran, dan stalking (menguntit atau mengikuti seseorang diam-diam).
                                </p>
                            </div>
                        </div>
                        <div class="timeline-container left">
                            <div class="timeline-content">                                
                                <h2><span>03</span>Bentuk Pelecehan Seksual</h2>
                                <p>
                                    Mengutip Rape, Abuse & Incest National Network, contoh perilaku yang termasuk, namun tidak terbatas pada pelecehan seksual, yakni:
                                <br/>                                
                                <ul type="square">
                                <li>Membuat persyaratan atau kondisi dalam perekrutan karyawan yang meminta kegiatan seksual sebagai bayaran atau pertukaran, secara implisit maupun eksplisit.</li>                                                                
                                <li>Pelecehan secara verbal yang menyinggung seksualitas atau tubuh seseorang, termasuk candaan yang porno dan vulgar.</li>                                                                                                  
                                <li>Sentuhan dan kontak fisik yang tidak diinginkan.</li>                                                                
                                <li>Mendiskusikan hubungan, cerita, atau fantasi seksual di tempat kerja, institusi pendidikan atau tempat lain yang tidak sepantasnya.</li>                                                                
                                <li>Memaksa untuk berhubungan dengan seseorang secara seksual.</li>                                
                                <li>Mengirimkan pesan teks, email, atau foto yang berbau seksual yang tidak diinginkan oleh penerima.</li>
                                </p>
                            </div>
                        </div>
                        <div class="timeline-container right">
                            <div class="timeline-content">
                                <h2><span>04</span>Bentuk Kekerasan Seksual</h2>
                                <p>
                                    Menurut National Sexual Violence Resource Center, contoh bentuk kekerasan seksual yaitu:
                                <ul type="square">
                                    <li>Perkosaan atau penyerangan seksual, termasuk pada pasangan inses.</li>
                                    <li>Sentuhan atau kontak seksual yang tidak diinginkan.</li>
                                    <li>Eksploitasi seksual.</li>
                                    <li>Menunjukkan genital atau telanjang kepada orang lain tanpa persetujuan dari yang bersangkutan.</li>
                                    <li>Masturbasi di tempat umum.</li>
                                    <li>Mengawasi seseorang diam-diam tanpa sepengetahuan dan izin yang bersangkutan (menguntit).</li>
                                </p>
                            </div>
                        </div>
                        <div class="timeline-container left">
                            <div class="timeline-content">
                                <h2><span>05</span>Bagaimana Menghadapinya?</h2>
                                <p>
                                    Ada beberapa tips yang bisa dilakukan oleh para korban agar bisa menghadapi pelaku kekerasan seksual. Kamu bisa terapkan jika mengalaminya:
                                <ul type="square">
                                    <li>Coba untuk memberitahu dan meminta pelaku untuk berhenti. Ini terbilang sulit dan tak serta merta membuat mereka seketika menghentikannya. Namun, ini adalah salah satu bentuk pertahanan diri awal jika mendapatkan serangan.</li>
                                    <li>Sat mengalami pelecehan seksual, jangan pernah merasa kamu harus menjadi satu-satunya orang yang menanggung hal tersebut. Cobalah untuk membicarakan dan ceritakan apa yang dialami kepada orang terdekat atau orang yang dipercaya. Nyatanya, membagi hal ini kepada orang lain bisa memberi sedikit rasa tenang. Dengan demikian, kamu juga bisa mengajak orang tersebut untuk mendiskusikan apa yang harus dilakukan selanjutnya</li>
                                    <li>Setelah merasa sedikit tenang, perlahan, bangun kembali diri dan keberanian kamu. Hal ini bisa dimulai dengan melakukan pemeriksaan kesehatan dan ikut konseling. 
                                        Adapun, tujuan mengikuti program konseling adalah membuat pikiran menjadi lebih tenang sehingga terhindar dari depresi atau gangguan mental lain pasca mengalami pelecehan.
                                        Sementara pemeriksaan kesehatan, dilakukan untuk mengetahui risiko penularan penyakit tertentu. Sebab, bisa saja pelaku pelecehan seksual memiliki riwayat penyakit berbahaya yang menular.</li>
                                    <li>Bagi sebagian orang, mengalami pelecehan seksual mungkin dirasa memalukan sehingga enggan melaporkannya kepada pihak berwenang. Namun, percayalah, melaporkan pengalaman pelecehan seksual yang dialami bisa membantu mengurangi kasus-kasus serupa terulang kembali.
                                        Agar lebih mudah, mintalah bantuan dari keluarga dekat atau sahabat untuk memproses laporan tersebut. Pastikan semua bukti dan persyaratan hukum sudah lengkap sehingga memudahkan proses pelaporan tersebut.</li>
                                    </p>
                            </div>
                        </div>
                        <div class="timeline-container right">
                            <div class="timeline-content">
                                <h2><span>06</span>Apakah Pria Bisa Menjadi Korban?</h2>
                                <p>
                                    Berdasarkan Laporan Studi Kuantitatif Barometer Kesetaraan Gender yang diluncurkan Indonesia Judicial Research Society (IJRS) dan INFID Tahun 2020 ada 33% laki-laki yang mengalami kekerasan seksual khususnya dalam bentuk pelecehan seksual.
                                <br/>
                                <br/>
                                    Berdasarkan survei dari Koalisi Ruang Publik Aman (KRPA) yang melibatkan 62.224 responden, 1 dari 10 laki-laki pernah mengalami pelecehan di ruang publik. Data dari Komisi Perlindungan Anak Indonesia (KPAI) memperlihatkan bahwa korban kekerasan seksual di tahun 2018 lebih banyak dialami oleh anak laki-laki, di mana ada 60% anak laki-laki dan 40% anak perempuan menjadi korban kekerasan seksual.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Timeline End -->

            <!-- Team Start -->
            <div class="team">
                <div class="container">
                    <div class="section-header">
                        <h2>Kalau Saya Koban, Harus Gimana?</h2>
                        <div class="about">
                            <div class="container">
                                Ada beberapa langkah yang dapat bestie lakukan di dalam website ini lho, berikut ya...
                                <br/>
                                <br/>
                                Pertama, kamu dapat menghubungi Hi Bestie (chatbot kami) untuk bertanya lebih lanjut seputar hukum, kontak psikologis, informasi tata cara melaporkan dan lainnya.
                                <br/>
                                Kedua, kamu dapat melakukan konsultasi dengan agen Hi Bestie langsung via sosial media di waktu yang sudah tertera.
                                <br/>
                                Ketiga, kamu dapat melaporkannya langsung kepada lembaga atau pihak berwenang dengan klik REPORT MY CASE.
                                <br/>
                                <br/>
                                NB : klik tombol CRITICS jika ada beberapa hal yang tidak sesuai dengan kamu ya bestie, nanti kami jawab via instagram story.
                                Jangan khawatir bestie, pesan bersifat anonim ya :)
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            <!-- Team End -->

            
            <!-- Newsletter Start -->
            <div class="newsletter">
                <div class="container">
                    <div class="section-header">
                        <h2>Bagaimana, Sudahkah Kamu Memahaminya?</h2>
                    </div>
                    <div class="ml-info">
                        <a class="btn" href="index.html" style="display: block; margin:auto" >Sudah Dong</a>
                    <div>
                    <br/> 
                    <a class="btn" href="information.html" style="display: block; margin:auto">Masih Belum Nih</a>
                    </div>
                </div>
            </div>
            <br/>            
            <!-- Newsletter End -->
          

            <!-- Footer Start -->
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-about">
                                <h2>About Hi Bestie Chatbot</h2>
                                <p>
                                    Hi Bestie Chatbot is a chat-based assistant friend who 
                                will help you access legal information and solve problems 
                                around sexual harassment and violence.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-8">
                            <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-link">
                                <h2>I Want to Learn</h2>
                                <a href="information.html">Texts</a>
                                <a href="">Pictures</a>
                                <a href="">Videos</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-link">
                                <h2>I Want to Report</h2>
                                <a href="">Chat Hi Bestie</a>
                                <a href="">Consultation</a>
                                <a href="">Report My Case</a>                             
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="footer-contact">
                                <h2>Find Us</h2>
                                <p><i class="fa fa-map-marker-alt"></i>Your Heart (We must protect each other's privacy)</p>
                                <p><i class="fa fa-phone-alt"></i>+628989045537</p>
                                <p><i class="fa fa-envelope"></i>hibestie1@gmail.com</p>
                                <div class="footer-social">
                                    <a href="https://wa.me/qr/GEJXQ5FK7RPYP1" target="_blank"><i class="fab fa-whatsapp"></i></a>
                                    <a href="https://t.me/HiBestie_official" target="_blank"><i class="fab fa-telegram"></i></a>
                                    <a href="https://www.facebook.com/profile.php?id=100087927235425" target="_blank"><i class="fab fa-facebook-f"></i></a>                                     
                                    <a href="https://instagram.com/hibestie_official?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fab fa-instagram"></i></a>                                    
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="container footer-menu">
                    <div class="f-menu">
                        <a href="">Terms of use</a>
                        <a href="">Privacy policy</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FQAs</a>
                    </div>
                </div>
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a href="Home">Hi Bestie Official</a>, All Right Reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <p>Designed By <a href="https://instagram.com/hibestie_official?igshid=YmMyMTA2M2Y=" target="_blank">Hi Bestie Official</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
            
            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="static/lib/easing/easing.min.js"></script>
        <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="static/lib/isotope/isotope.pkgd.min.js"></script>

        <!-- Template Javascript -->
        <script src="static/js/main.js"></script>
    </body>
</html>

